/*      Cairo Google Font       */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Cairo' ,  sans-serif;
    box-sizing: border-box;
}

/*      Start Variables     */

:root{
    --main-color:#03a9f4;
    --fig1:#b33939;
    --fig2:#227093;
    --fig3:#218c74;
    --footer:#333;
}

/*      End Variables     */


/*      Start Header     */


header .container{
    margin-right: auto;
    margin-left: auto;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container h2{
    font-size: 30px;
    height: fit-content;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
}

header .container h2:hover{
    color: var(--main-color);
    letter-spacing: 3px;
}

header .container nav ul{
    display: flex;
}

header .container nav ul li{
    list-style: none;
    margin-left: 2ch;
    display: block;
}

header .container nav ul li a{
    text-decoration: none;
    color: black;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

header .container nav ul li a:hover{
    color: var(--main-color);
}

@media (min-width:769px) {
   .container{
        width: 720px;
   }
}
@media (min-width:1025px) {
   .container{
        width: 1010px;
   }
}
@media (min-width:1201px) {
   .container{
        width: 1190px;
   }
}

@media (max-width:374px) {
    nav{
        display: none;
    }
}

/*      End Header     */

/*      Start Main    */

.main-text{
    height: calc(100vh - 54.5px);
    background-image: url("../assets/cover.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-text .container h1{
    margin: 0;
    font-size: 50px;
}
.main-text .container p{
    color: white;
    margin-top: 20px;
    line-height: 1.8;
    font-size: 20px;
}
.main-text .container h1 span{
    color: var(--main-color);
}

/*      End Main     */

/*      Start Services     */

.services{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: white;
}

.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
}

.service h3{
    margin: 10px 0;
    font-weight: 900;
    font-size: 20px;
}

.service p{
    line-height: 1.8;
    color: #AAA;
    max-width: 320px;
}

.service img{
    width: 80px;
}

.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
}

/*      End Services     */

/*      Start About     */

.about{
    background-color: #f1f0f0;
    height: fit-content;
}

.about .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}

.about .container img{
    width: 500px;
}

.about .container h2{
    font-weight: 1000;
    margin-bottom: 20px;
}

.about .container p{
    line-height: 1.8;
}

@media (max-width:769px) {
    .about .container img{
        display: none;
    }
    .about .container h2,.about .container p{
        padding: 5px 10px;
    }
}

/*      End About     */


/*      Start Figures     */

.figures .container{
    display: grid;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    gap: 10px;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    padding: 60px 20px;
}

.figure{
    padding: 20px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.figure:first-child{
    background-color: var(--fig1);
}

.figure:nth-child(2){
    background-color: var(--fig2);
}

.figure:last-child{
    background-color: var(--fig3);
}

.figure h3{
    font-size: 50px;
}

/*      End Figures     */


/*      Start Skills     */

.skills{
    background-color: #EEE;
    padding: 60px 20px;
}

.skills .container{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.rate-element{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.box-rate{
    display: grid;
    grid-template-columns: repeat(100,1fr);
    width: 60%;
}

.rate1{
    grid-column: 1 / span 60;
}

.rate2{
    grid-column: 1 / span 70;
}

.rate3{
    grid-column: 1 / span 80;
}

.rate4{
    grid-column: 1 / span 65;
}

.rate5{
    grid-column: 1 / span 90;
}

.skills .container>h2{
    text-align: center;
    margin-bottom: 40px;
}

.rate{
    background-color: var(--main-color);
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-weight: bold;
}

/*      End Skills     */

/*      Start Footer     */

footer{
    background-color: var(--footer);
    
}

footer .container{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}

footer p{
    margin: 0;
    color: white;
}
footer p span{
    color: var(--main-color);
}

/*      End Footer     */



